<!doctype html>
<html>
  <head>
    <title>GORUCO 2017</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/images/favicon.png" rel="icon" type="image/png" />
    <script src="https://use.typekit.net/eah0gcq.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97511443-1', 'auto');
      ga('send', 'pageview');

    </script>
    <link href="/stylesheets/site.css" rel="stylesheet" />
  </head>

  <body class="partials partials_sections partials_sections_organizers partials_sections_organizers_index">
    <section class="pa4 pa4-m pa5-l" id="organizers">
  <div class="mb4">
    <h3 class="f4 f2-ns ma0 bt bw2 b--black pt3 dib">Organizers</h3>
  </div>
  <div class="flex flex-wrap">
      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/austen-ito.jpg) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Austen Ito</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@austenito" target="_blank">@austenito</a>
    </h2>
  </div>
</div>

      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/jesse-chan-norris.jpg) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Jesse Chan-Norris</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@jcn" target="_blank">@jcn</a>
    </h2>
  </div>
</div>

      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/joe-leo.jpg) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Joe Leo</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@jleo3" target="_blank">@jleo3</a>
    </h2>
  </div>
</div>

      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/luke-melia.jpg) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Luke Melia</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@lukemelia" target="_blank">@lukemelia</a>
    </h2>
  </div>
</div>

      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/mike-dalessio.jpg) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Mike Dalessio</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@flavorjones" target="_blank">@flavorjones</a>
    </h2>
  </div>
</div>

      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/raquel-hernandez.jpg) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Raquel Hernandez</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@raqueldotnyc" target="_blank">@raqueldotnyc</a>
    </h2>
  </div>
</div>

      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/ross-cooperman.jpg) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Ross Cooperman</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@rosscooperman" target="_blank">@rosscooperman</a>
    </h2>
  </div>
</div>

      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/vanessa-sant-anna.jpg) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Vanessa Sant'anna</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@vsanta" target="_blank">@vsanta</a>
    </h2>
  </div>
</div>

      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/jerred-cook.jpg) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Jerred Cook</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@jerredcook" target="_blank">@jerredcook</a>
    </h2>
  </div>
</div>

      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/rocio-delgado.jpg) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Rocio Delgado</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@rokkzy" target="_blank">@rokkzy</a>
    </h2>
  </div>
</div>

      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/lydia-stepanek.png) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Lydia Stepanek</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@LydiaStepanek" target="_blank">@LydiaStepanek</a>
    </h2>
  </div>
</div>

      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/sebastien-delmont.jpeg) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Sebastian Delmont</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@sd" target="_blank">@sd</a>
    </h2>
  </div>
</div>

      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/rob-jones.jpg) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Robert Jones</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@robbieejones" target="_blank">@robbieejones</a>
    </h2>
  </div>
</div>

      <div class="flex items-center w-50 w-25-l mb4">
  <div style="min-width: 2rem">
    <div class="aspect-ratio aspect-ratio--1x1">
        <div class="aspect-ratio--object cover br-100" style="background:url(images/organizers/matt-rothenberg.jpg) center;"></div>
    </div>
  </div>
  <div class="ml2 break-word">
    <h1 class="f6 f5-ns fw6 lh-title black mv0">Matt Rothenberg</h1>
    <h2 class="f6 fw4 mt0 mb0">
      <a class="link dark-pink" href="https://twitter.com/@mattrothenberg" target="_blank">@mattrothenberg</a>
    </h2>
  </div>
</div>

  </div>
</section>
  </body>
</html>
