<div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="w-100 w-75-l pr4-l pl0-l pb4 timeline-left relative mr2-l tr-l">
    <h4 class="f3 mt0 mb2"><%= title %></h4>
    <p class="f4 ma0"><%= description %></p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l">
    <h4 class="f4 ma0 fw5"><%= timeslot %></h4>
  </div>
</div>