<div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="mb3 w-100 w-25-l mb0-l">
    <h4 class="f4 ma0 fw5"><%= timeslot %></h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb4 ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2"><%= title %></h4>
    <p class="f4 ma0"><%= description %></p>
  </div>
</div>