<!doctype html>
<html>
  <head>
    <title>GORUCO 2017</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/images/favicon.png" rel="icon" type="image/png" />
    <script src="https://use.typekit.net/eah0gcq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97511443-1', 'auto');
      ga('send', 'pageview');

    </script>
    <link href="/stylesheets/site.css" rel="stylesheet" />
  </head>

  <body class="partials partials_sections partials_sections_schedule partials_sections_schedule_index">
    <section class="ph4 ph4-m pt4 pt5-l ph5-l relative" id="schedule">
  <div class="mb5">
    <h3 class="f3 f2-ns ma0 bt bw2 b--black pt3 dib">Schedule</h3>
  </div>

  <div class="morning-sessions relative">
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="mb3 w-100 w-25-l mb0-l">
    <h4 class="f4 ma0 fw5">9:00 AM — 10:00 AM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb4 ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">Registration</h4>
    <p class="f4 ma0">Doors open, get your conference badge and some New York breakfast</p>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="mb3 w-100 w-25-l mb0-l">
    <h4 class="f4 ma0 fw5">10:00 AM — 10:30 AM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb4 ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">Keynote: Code Quality Lessons Learned</h4>
    <p class="f4 ma0">Bryan Helmkamp (NY)</p>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="mb3 w-100 w-25-l mb0-l">
    <h4 class="f4 ma0 fw5">10:40 AM – 11:10 AM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb4 ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">The Guest: A Guide To Code Hospitality</h4>
    <p class="f4 ma0">Nadia Odunayo (UK)</p>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="mb3 w-100 w-25-l mb0-l">
    <h4 class="f4 ma0 fw5">11:35 AM – 12:05 PM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb4 ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">Symmetric API Testing </h4>
    <p class="f4 ma0">Aditya Mukerjee (NY)</p>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="mb3 w-100 w-25-l mb0-l">
    <h4 class="f4 ma0 fw5">12:15 PM – 12:25 PM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb4 ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">Pipe Operator for Ruby </h4>
    <p class="f4 ma0">Fabio Akita (Brazil)</p>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="mb3 w-100 w-25-l mb0-l">
    <h4 class="f4 ma0 fw5">12:20 PM – 12:30 PM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb4 ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">Introducing the Crystal Programming Language </h4>
    <p class="f4 ma0">Will Leinweber (SF)</p>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="mb3 w-100 w-25-l mb0-l">
    <h4 class="f4 ma0 fw5">12:40 PM – 12:50 PM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb4 ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">Ruby Racing: Challenging Ruby Methods </h4>
    <p class="f4 ma0">Danielle Adams (NY)</p>
  </div>
</div>
  </div>

  <div class="w-100 w-50-l center pb4 lunch relative tc-l pt4-l pb5-l">
    <div class="bg-white dib-l ph5-l ba-l bw2-l b--black pv3-l bg-lunch relative">
      <div class="z-2">
        <h4 class="f3 mt0 mb2">Lunch</h4>
        <p class="f4 ma0">Dig Inn</p>
      </div>
    </div>
  </div>
  
  <div class="afternoon-sessions relative">
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="w-100 w-75-l pr4-l pl0-l pb4 timeline-left relative mr2-l tr-l">
    <h4 class="f3 mt0 mb2">Just a Ruby Minute</h4>
    <p class="f4 ma0">Andrew Faraday (UK)</p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l">
    <h4 class="f4 ma0 fw5">02:20 PM – 02:50 PM</h4>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="w-100 w-75-l pr4-l pl0-l pb4 timeline-left relative mr2-l tr-l">
    <h4 class="f3 mt0 mb2">Impactful Refactors: Refactoring for Readability</h4>
    <p class="f4 ma0">Kinsey Ann Durham (Denver)</p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l">
    <h4 class="f4 ma0 fw5">03:00 PM – 03:10 PM</h4>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="w-100 w-75-l pr4-l pl0-l pb4 timeline-left relative mr2-l tr-l">
    <h4 class="f3 mt0 mb2">Database performance at scale for RoR and MySQL</h4>
    <p class="f4 ma0">Rocio Delgado (NY)</p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l">
    <h4 class="f4 ma0 fw5">03:15 PM – 03:25 PM</h4>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="w-100 w-75-l pr4-l pl0-l pb4 timeline-left relative mr2-l tr-l">
    <h4 class="f3 mt0 mb2">Enumerable’s Ugly Cousin</h4>
    <p class="f4 ma0">Ross Kaffenberger (NY)</p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l">
    <h4 class="f4 ma0 fw5">03:30 PM – 03:40 PM</h4>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="w-100 w-75-l pr4-l pl0-l pb4 timeline-left relative mr2-l tr-l">
    <h4 class="f3 mt0 mb2">Big Data with rubygems.org Download Data</h4>
    <p class="f4 ma0">Aja Hammerly (Seattle)</p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l">
    <h4 class="f4 ma0 fw5">04:10 PM – 4:40 PM</h4>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="w-100 w-75-l pr4-l pl0-l pb4 timeline-left relative mr2-l tr-l">
    <h4 class="f3 mt0 mb2">Keynote: Cult(ure)</h4>
    <p class="f4 ma0">Aja Hammerly (Seattle)</p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l">
    <h4 class="f4 ma0 fw5">04:50 PM – 5:20 PM</h4>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative">
  <div class="w-100 w-75-l pr4-l pl0-l pb4 timeline-left relative mr2-l tr-l">
    <h4 class="f3 mt0 mb2">After Party</h4>
    <p class="f4 ma0">Boom!</p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l">
    <h4 class="f4 ma0 fw5">06:00 PM – 09:00 PM</h4>
  </div>
</div>
  </div>

  </div>
</section>
  </body>
</html>
