<!doctype html>
<html>
  <head>
    <title>GORUCO 2017</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/images/favicon.png" rel="icon" type="image/png" />
    <script src="https://use.typekit.net/eah0gcq.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97511443-1', 'auto');
      ga('send', 'pageview');

    </script>
    <link href="/stylesheets/site.css" rel="stylesheet" />
  </head>

  <body class="partials partials_sections partials_sections_schedule partials_sections_schedule_index">
    <section class="pa3 pa5-l relative mb4 mb0-l" id="schedule">
  <div class="mb4 mb5-l">
    <h3 class="f3 f2-ns ma0 bt bw2 b--black pt3 dib">Schedule</h3>
  </div>

  <div class="morning-sessions relative">
    <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="mb3 w-100 w-25-l pv0-l mb0-l">
    <h4 class="f4 ma0 fw5 dark-gray">9:00 AM — 10:00 AM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb3 pb4-l ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">Registration</h4>
    <p class="f4 ma0">
    		Doors open, get your conference badge and some breakfast
    </p>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="mb3 w-100 w-25-l pv0-l mb0-l">
    <h4 class="f4 ma0 fw5 dark-gray">10:00 AM — 10:30 AM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb3 pb4-l ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">The Rubyist's Illustrated Rust Adventure Survival Guide</h4>
    <p class="f4 ma0">
    		<a href="#modal-4" class="open-speaker-modal link dark-pink f6 db">
    			Liz Baillie
    		</a>
    </p>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="mb3 w-100 w-25-l pv0-l mb0-l">
    <h4 class="f4 ma0 fw5 dark-gray">10:35 AM — 11:05 AM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb3 pb4-l ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">Optimizing for API consumers with GraphQL</h4>
    <p class="f4 ma0">
    		<a href="#modal-8" class="open-speaker-modal link dark-pink f6 db">
    			Brooks Swinnerton
    		</a>
    </p>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="mb3 w-100 w-25-l pv0-l mb0-l">
    <h4 class="f4 ma0 fw5 dark-gray">11:20 AM — 11:30 AM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb3 pb4-l ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">Trust & Teams</h4>
    <p class="f4 ma0">
    		<a href="#modal-7" class="open-speaker-modal link dark-pink f6 db">
    			Rebecca Miller-Webster
    		</a>
    </p>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="mb3 w-100 w-25-l pv0-l mb0-l">
    <h4 class="f4 ma0 fw5 dark-gray">11:35 AM — 11:45 AM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb3 pb4-l ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">Object Oriented Thinking with Elixir and OTP</h4>
    <p class="f4 ma0">
    		<a href="#modal-3" class="open-speaker-modal link dark-pink f6 db">
    			Ryan Findley
    		</a>
    </p>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="mb3 w-100 w-25-l pv0-l mb0-l">
    <h4 class="f4 ma0 fw5 dark-gray">11:50 AM — 12:00 PM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb3 pb4-l ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">Developer Productivity Engineering</h4>
    <p class="f4 ma0">
    		<a href="#modal-9" class="open-speaker-modal link dark-pink f6 db">
    			Panayiotis Thomakos
    		</a>
    </p>
  </div>
</div>
    <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="mb3 w-100 w-25-l pv0-l mb0-l">
    <h4 class="f4 ma0 fw5 dark-gray">12:05 PM — 12:35 PM</h4>
  </div>
  <div class="w-100 w-75-l pl4-l pb3 pb4-l ml2-l timeline-right relative">
    <h4 class="f3 mt0 mb2">SQL to NoSQL to NewSQL and the rise of polyglot persistence</h4>
    <p class="f4 ma0">
    		<a href="#modal-1" class="open-speaker-modal link dark-pink f6 db">
    			Paul Dix
    		</a>
    </p>
  </div>
</div>
  </div>

  <div class="w-100 w-50-l center pb4 mb2 mb0-l lunch relative bb b--black-10 bn-l tc-l mt4 mt0-l pt4-l pb5-l">
    <div class="bg-white dib-l ph5-l ba-l bw2-l b--black pv3-l bg-lunch relative">
      <div class="z-2">
        <h4 class="f3 mt0 mb2">Lunch</h4>
        <p class="f4 ma0">12:35 PM - 2:00 PM</p>
      </div>
    </div>
  </div>
  
  <div class="afternoon-sessions relative">
      <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="w-100 w-75-l pr4-l pl0-l pb3 pb4-l timeline-left relative mr2-l tr-l order-1 order-0-l">
    <h4 class="f3 mt0 mb2">Difficult Conversations</h4>
    <p class="f4 ma0">
			<a href="#modal-5" class="open-speaker-modal link dark-pink f6 db">
				Adam Cuppy
			</a>
    </p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l order-0 order-1-l">
    <h4 class="f4 ma0 fw5 dark-gray">2:10 PM — 2:40 PM</h4>
  </div>
</div>
      <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="w-100 w-75-l pr4-l pl0-l pb3 pb4-l timeline-left relative mr2-l tr-l order-1 order-0-l">
    <h4 class="f3 mt0 mb2">What I Learned to Love About Ruby When I Switched to Python</h4>
    <p class="f4 ma0">
			<a href="#modal-0" class="open-speaker-modal link dark-pink f6 db">
				Lauren Ellsworth
			</a>
    </p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l order-0 order-1-l">
    <h4 class="f4 ma0 fw5 dark-gray">2:50 PM — 3:20 PM</h4>
  </div>
</div>
      <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="w-100 w-75-l pr4-l pl0-l pb3 pb4-l timeline-left relative mr2-l tr-l order-1 order-0-l">
    <h4 class="f3 mt0 mb2">Front-End Sadness to Happiness: The React on Rails Story</h4>
    <p class="f4 ma0">
			<a href="#modal-12" class="open-speaker-modal link dark-pink f6 db">
				Justin Gordon
			</a>
    </p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l order-0 order-1-l">
    <h4 class="f4 ma0 fw5 dark-gray">3:35 PM — 4:05 PM</h4>
  </div>
</div>
      <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="w-100 w-75-l pr4-l pl0-l pb3 pb4-l timeline-left relative mr2-l tr-l order-1 order-0-l">
    <h4 class="f3 mt0 mb2">Shaving my head made me a better programmer</h4>
    <p class="f4 ma0">
			<a href="#modal-2" class="open-speaker-modal link dark-pink f6 db">
				Alex Qin
			</a>
    </p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l order-0 order-1-l">
    <h4 class="f4 ma0 fw5 dark-gray">4:10 PM — 4:20 PM</h4>
  </div>
</div>
      <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="w-100 w-75-l pr4-l pl0-l pb3 pb4-l timeline-left relative mr2-l tr-l order-1 order-0-l">
    <h4 class="f3 mt0 mb2">Beyond OSS</h4>
    <p class="f4 ma0">
			<a href="#modal-6" class="open-speaker-modal link dark-pink f6 db">
				Verónica López
			</a>
    </p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l order-0 order-1-l">
    <h4 class="f4 ma0 fw5 dark-gray">4:25 PM — 4:35 PM</h4>
  </div>
</div>
      <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="w-100 w-75-l pr4-l pl0-l pb3 pb4-l timeline-left relative mr2-l tr-l order-1 order-0-l">
    <h4 class="f3 mt0 mb2">Scars: On handling adversity</h4>
    <p class="f4 ma0">
			<a href="#modal-10" class="open-speaker-modal link dark-pink f6 db">
				Ross Kaffenberger
			</a>
    </p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l order-0 order-1-l">
    <h4 class="f4 ma0 fw5 dark-gray">4:40 PM — 4:50 PM</h4>
  </div>
</div>
      <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="w-100 w-75-l pr4-l pl0-l pb3 pb4-l timeline-left relative mr2-l tr-l order-1 order-0-l">
    <h4 class="f3 mt0 mb2">How to load 1m lines of Ruby in 5s</h4>
    <p class="f4 ma0">
			<a href="#modal-13" class="open-speaker-modal link dark-pink f6 db">
				Andrew Metcalf
			</a>
    </p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l order-0 order-1-l">
    <h4 class="f4 ma0 fw5 dark-gray">5:15 PM — 5:45 PM</h4>
  </div>
</div>
      <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="w-100 w-75-l pr4-l pl0-l pb3 pb4-l timeline-left relative mr2-l tr-l order-1 order-0-l">
    <h4 class="f3 mt0 mb2">Type. Context.</h4>
    <p class="f4 ma0">
			<a href="#modal-11" class="open-speaker-modal link dark-pink f6 db">
				Sam Phippen
			</a>
    </p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l order-0 order-1-l">
    <h4 class="f4 ma0 fw5 dark-gray">5:50 PM — 6:20 PM</h4>
  </div>
</div>
      <div class="flex-ns flex-column flex-row-l w-100 event relative bb bn-l b--black-10 pt3 pt0-l">
  <div class="w-100 w-75-l pr4-l pl0-l pb3 pb4-l timeline-left relative mr2-l tr-l order-1 order-0-l">
    <h4 class="f3 mt0 mb2">After Party!</h4>
    <p class="f4 ma0">
			
    </p>
  </div>
  <div class="mb3 w-100 w-25-l mb0-l tr-l order-0 order-1-l">
    <h4 class="f4 ma0 fw5 dark-gray">6:30 PM — 8:30 PM</h4>
  </div>
</div>
  </div>

  </div>
</section>
  </body>
</html>
