<!doctype html>
<html>
  <head>
    <title>GORUCO 2017</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/images/favicon.png" rel="icon" type="image/png" />
    <script src="https://use.typekit.net/eah0gcq.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97511443-1', 'auto');
      ga('send', 'pageview');

    </script>
    <link href="/stylesheets/site.css" rel="stylesheet" />
  </head>

  <body class="partials partials_sections partials_sections_location partials_sections_location_index">
    <section id="location" class="pv3 pv5-l">
  <div class="fl w-100 w-50-l pr2 pr3-l mb3 mb4-l">
    <div class="pa4 ph5-l">
      <h3 class="f3 f2-ns mt0 mb4 bt bw2 b--black pt3 dib">Location</h3>
      <p class="f4 ma0 measure lh-copy">The conference and afterparty will be held at the beautiful Pier 60, located at Chelsea Piers in New York City.</p>
      <div class="flex items-center mt4">
        <a class="f5 link dim ba bw1 ph3 pv2 mb2 bg-black b--black white fw5 mr2" href="http://piersixty.com/" target="_blank">Check Out the Space</a>
        <a class="f5 link dim ba bw1 ph3 pv2 mb2 black fw5" target="_blank" href="https://www.google.com/maps/place/Pier+Sixty/@40.7464794,-74.0105818,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259c7dace3e8d:0xb21e63fb78aa793e!8m2!3d40.7464754!4d-74.0083931">Get Directions</a>
      </div>
    </div>
  </div>
  <div class="fl w-50 w-25-l pr2">
    <div class="location-photo mb3 cover" data-original="images/venue/venue-4.jpg"></div>
  </div>
  <div class="fl w-50 w-25-l pl2">
    <div class="location-photo mb3 cover" data-original="images/venue/venue-5.jpg"></div>
  </div>
  <div class="fl w-50 w-25-l pr2">
    <div class="location-photo mb3 cover" data-original="images/venue/venue-3.jpg"></div>
  </div>
  <div class="fl w-50 w-50-l pl2 pr2-l">
    <div class="location-photo mb3 cover" data-original="images/venue/venue-2.jpg"></div>
  </div>
  <div class="cf">
    <div class="fl w-100 w-25-l pl2-l">
      <div class="location-photo mb3 cover" data-original="images/venue/venue-1.jpg"></div>
    </div>
  </div>
</section>

  </body>
</html>
