@import 'vendor/tachyons';
@import 'vendor/vanillaModal';

$goruco-purple: #1F014A;
$goruco-pink: #F8313A;
$red: #ff4136;
$sans-serif-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
$colors: #1abc9c, #3498db, #9b59b6, #34495e, #e74c3c, #e67e22, #f39c12;

body.vanilla-modal .modal-hider {
  position: absolute;
  left: -99999em;
}

body.overlay-showing {
  overflow: hidden;
}

.modal-body {
  max-height: 350px;
  overflow-y: scroll;
}

.bg-scattered-rubies {
  background: $goruco-purple url(../images/scattered-rubies-light.svg);
}

.bg-scattered-rubies-dark {
  background: url(../images/scattered-rubies-dark.svg);
}

.bg-goruco-purple {
  background: $goruco-purple;
}

.vh-75 {
  height: 75vh;
}

.vh-80 {
  height: 80vh;
}

.z-negative {
  z-index: -1;
}

.bg-lunch {
  border-radius: 5px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'aktiv-grotesk', $sans-serif-stack;
  text-rendering: optimizeLegibility;
}

.top-navigation {
  background: transparent;
  position: relative;
  transition: background .2s ease-out;

  @media(max-width: 60em) {
    display: none;
  }

  &.is-stuck {
    @extend .ph4;
    background: $goruco-purple;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    z-index: 9999;
  }
}

.top-navigation.is-stuck {
  @media(min-width: 60em) {
    .ticket-btn {
      display: block;
      opacity: 1;
    }
  }
}

.ticket-btn {
  display: none;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.mobile-menu {
  opacity: 0;
  pointer-events: none;
  transition: all .2s ease-out;
  transform: translateY(40px);
  visibility: hidden;
}

.top-navigation.is-stuck {
  .mobile-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    visibility: visible;
  }
}

.top-navigation li a {
  @extend .o-50;
  transition: opacity .2s ease-out;

  &:hover {
    @extend .o-100;
  }
}

.top-navigation li.active a {
  @extend .o-100;
}

.scattered-rubies {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;

  @media(min-width: 30em) {
    right: initial;
    height: 80vh;
  }
}

.scattered-ruby {
  fill: none;
  stroke: rgba(255,255,255, .075);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 10;
}

.venue-image {
  height: 200px;

  @media(min-width: 30em) {
    height: 400px;
    transform: translateY(-50px);
  }
}

@media(min-width: 60em) {
  .morning-sessions .event:last-of-type .timeline-right {
    &:after {
      background: #000;
      bottom: -82px;
      content: '';
      left: 0px;
      height: 82px;
      position: absolute;
      width: 4px;
    }
  }
}

@media(min-width: 60em) {
  .afternoon-sessions .event:first-of-type .timeline-left {

    &:after {
      background: #000;
      top: -115px;
      content: '';
      right: 0px;
      height: 200px;
      position: absolute;
      width: 4px;
      z-index: -1;
    }
  }
}

@media(min-width:60em) {
  .lunch {
    &:before {
      background: #000;
      content: '';
      height: 4px;
      right: .35rem;
      left: .35rem;
      margin: auto;
      position: absolute;
      top: 78px;
      width: calc(100% - .75rem);
      z-index: -1;
    }
  }
}


.timeline-left {
  @media(min-width: 60em) {
    box-shadow: inset -4px 0 0 0 black;

    &:before {
      background: white;
      border: 4px solid black;
      border-radius: 50%;
      content: '';
      height: 15px;
      right: -10px;
      position: absolute;
      top: 0;
      width: 15px;
    }
  }
}

.timeline-right {
  @media(min-width: 60em) {
    box-shadow: inset 4px 0 0 0 black;

    &:before {
      background: white;
      border: 4px solid black;
      border-radius: 50%;
      content: '';
      height: 15px;
      left: -10px;
      position: absolute;
      top: 0;
      width: 15px;
    }
  }
}

.overlay-menu {
  background: rgba($goruco-purple, .9);
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease-out;
  z-index: 9999;
  visibility: hidden;

  &.active {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }

  @media(min-width: 60em) {
    display: none;
  }
}

.object-fit {
  object-fit: cover;
}

.location-photo {
  height: 200px;
  transition: opacity .2s ease-out;
  width: 100%;

  &.loaded, &.error {
    opacity: 1;
  }

  @media(min-width: 60em) {
    height: 500px;
  }
}
