<footer class="bg-scattered-rubies ph4 pt2 pb4">
  <form class="mw7 center pa2 pa4-l br2-ns ba b--black-10 mb4 validate" action="//goruco.us2.list-manage.com/subscribe/post?u=00945f50a161df14372a84a34&amp;id=cdf39163af" form.signup-form action="//goruco.us2.list-manage.com/subscribe/post?u=00945f50a161df14372a84a34&amp;id=cdf39163af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate">
    <fieldset class="cf bn ma0 pa0">
      <legend class="pa0 f5 f4-ns mb3 white">Sign up for conference updates</legend>
      <div class="cf">
        <label class="clip" for="email-address">Email Address</label>
        <input class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Enter Email Address">
        <input class="f6 f5-l fw6 button-reset fl pv3 tc bn bg-dark-pink white pointer w-100 w-25-m w-20-l br2-ns br--right-ns" type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe">
      </div>
      <div style="position: absolute; left: -5000px;">
        <input name="b_00945f50a161df14372a84a34_cdf39163af" tabindex="-1" type="text" value="">
      </div>
    </fieldset>
  </form>

  <div class="flex-l justify-between mb3">
    <div class="flex-l items-center mb4 mb0-l">
      <h4 class="mt0 white mb2 mb0-l mr3-ns">Past Years</h4>
      <ul class="list pl0 mv0">
        <li class="dib mr2"><a target="_blank" href="http://2009.goruco.com/" class="fw5 db pr2 link dim white">2009</a></li>
        <li class="dib mr2"><a target="_blank" href="http://2011.goruco.com/" class="fw5 db pr2 link dim white">2011</a></li>
        <li class="dib mr2"><a target="_blank" href="http://2015.goruco.com/" class="fw5 db pr2 link dim white">2015</a></li>
        <li class="dib mr2"><a target="_blank" href="http://2016.goruco.com/" class="fw5 db pr2 link dim white">2016</a></li>
      </ul>
    </div>
    <div>
      <h4 class="ma0 white">© 2017 GORUCO</h4>
    </div>
  </div>
  <div class="bt b--white pb3">
    <p class="white f4 measure-wide">The GORUCO organizers strive for the safety and comfort of everyone at our event. For more information, please read our <a class="pink fw5 link" target="_blank" href="/code-of-conduct">Code of Conduct</a>.</p>
    <p class="white f4 measure-wide mb0">Questions? Email us at <a href="mailto:info@goruco.com" class="link pink fw5">info@goruco.com</a> or tweet us at <a href="http://twitter.com/@goruco" target="_blank" class="link pink fw5">@goruco</a>.</p>
  </div>
</footer>
