<header>
  <div class='header'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-3 col-xs-12'>
          <a href='/'>
            <img src='/assets/images/ruby.png' />
            <span class='title'>Goruco</span>
          </a>
        </div>
        <div class='col-xs-9 pull-right hidden-xs'>
          <div class='nav-links hidden-xs'>
            <a href="https://twitter.com/goruco" target="_blank">@goruco</a>
            <a href="http://videos.goruco.com/" target="_blank">Videos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='mobile-links'>
    <div class='nav-links slider-nav visible-xs'>
      <a href="https://twitter.com/goruco" target="_blank">@goruco</a>
      <a href="http://videos.goruco.com/" target="_blank">Videos</a>
    </div>
  </div>
</header>
