<!doctype html>
<html>
  <head>
    <title>GORUCO 2017</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/images/favicon.png" rel="icon" type="image/png" />
    <script src="https://use.typekit.net/eah0gcq.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97511443-1', 'auto');
      ga('send', 'pageview');

    </script>
    <link href="/stylesheets/site.css" rel="stylesheet" />
  </head>

  <body class="partials partials_sections partials_sections_background partials_sections_background_index">
    <section class="pa3 pa5-l" id="background">
  <div class="mb3">
    <h3 class="f4 f2-ns ma0 bt bw2 b--black pt3 dib">Background</h3>
  </div>
  <div class="flex flex-wrap nl2 nr2 our " style="max-width: 785px;">
  	<p class="f4 ma0 lh-copy fw5 pa2">
  		We are incredibly proud of the program that we've put together and think that it reflects the state of the Ruby community as it stands today.
  		<br>
  		<a class="link dark-pink" href="https://twitter.com/flavorjones" target="_blank">Mike Dalessio</a>, one of  organizers, summed up those thoughts in his Medium post titled simply, <a class="link dark-pink" href="https://medium.com/@flavorjones/ruby-values-7b5ffe45aea7" target="_blank">"ruby values."</a> In reflecting on GORUCO's diverse program this year, including talks on Python, Elixir, Go, and Rust, and non-technology talks on topics like trust, human-to-human interactions, verbal communication, and how people organize themselves into teams, Mike says:
  	</p>
  	<p class="f5 ma0 lh-copy fw5 pa2">
  		The attendees of GORUCO are, more and more, using other languages to grow software. Famous Rubyists have gone on to influence the development of Rust, Elixir, Crystal, Go, and many other languages, libraries and frameworks. For me personally, this has included rewriting most of Cloud Foundry’s core components from Ruby into Go over the last three years; and led a colleague to write the Ruby-like BDD tools Ginkgo and Gomega.
      <br>
  		Ruby-the-tribe is reaching out to dozens of other communities, and spreading our values to users of other languages. This is wonderful; this is how Ruby is spreading and giving birth to new communities.
  	</p>
  </div>
</section>


  </body>
</html>
