<section class="pa3 pa5-l pb4-l" id="about">
  <div class="mb2">
    <h3 class="f4 f2-ns ma0 bt bw2 b--black pt3 dib">About</h3>
    <p class="f3-l lh-copy measure-wide-l">
      We’re rebuilding GORUCO as a polyglot conference that emphasizes and embodies the best of Ruby’s practices, values, and community. This is an opportunity to extend Ruby’s reach, to pull more people into Ruby’s orbit who share our values, and to keep Ruby alive even as its community members use a much broader set of tools and languages.
    </p>
  </div>
</section>

