<section class="pv3 pv5-l" id="background">
  <div class="fl w-100 w-50-l pr2 pr3-l mb3 mb4-l">
    <div class="pa4 ph5-l">
      <h3 class="f3 f2-ns mt0 mb4 bt bw2 b--black pt3 dib">Background</h3>
      <p class="f4 ma0 measure lh-copy fw5">
        We are incredibly proud of the program that we've put together and think that it reflects the state of the Ruby community as it stands today.
        <br>
        <a class="link dark-pink" href="https://twitter.com/flavorjones" target="_blank">Mike Dalessio</a>, one of  organizers, summed up those thoughts in his Medium post titled simply, <a class="link dark-pink" href="https://medium.com/@flavorjones/ruby-values-7b5ffe45aea7" target="_blank">"ruby values."</a> In reflecting on GORUCO's diverse program this year, including talks on Python, Elixir, Go, and Rust, and non-technology talks on topics like trust, human-to-human interactions, verbal communication, and how people organize themselves into teams, Mike says:
      </p>
      <p class="f4 ma0 measure lh-copy pa2">
        The attendees of GORUCO are, more and more, using other languages to grow software. Famous Rubyists have gone on to influence the development of Rust, Elixir, Crystal, Go, and many other languages, libraries and frameworks. For me personally, this has included rewriting most of Cloud Foundry’s core components from Ruby into Go over the last three years; and led a colleague to write the Ruby-like BDD tools Ginkgo and Gomega.
        <br>
        Ruby-the-tribe is reaching out to dozens of other communities, and spreading our values to users of other languages. This is wonderful; this is how Ruby is spreading and giving birth to new communities.
      </p>
    </div>
  </div>
  <div class="fl w-50 w-25-l pr2">
    <div class="location-photo mb3 cover" data-original="images/background/bg-1.jpg"></div>
    <!-- <img class="location-photo mb3" width="100%" data-original="images/venue/venue-4.jpg" alt=""> -->
  </div>
  <div class="fl w-50 w-25-l pl2">
    <div class="location-photo mb3 cover" data-original="images/background/bg-2.jpg"></div>
    <!-- <img class="location-photo mb3" width="100%" data-original="images/venue/venue-1.jpg" alt=""> -->
  </div>
  <div class="fl w-50 w-25-l pr2">
    <div class="location-photo mb3 cover" data-original="images/background/bg-3.jpg"></div>
    <!-- <img class="location-photo mb3" width="100%" data-original="images/venue/venue-5.jpg" alt=""> -->
  </div>
  <div class="fl w-50 w-25-l pr2">
    <div class="location-photo mb3 cover" data-original="images/background/bg-4.jpg"></div>
    <!-- <img class="location-photo mb3" width="100%" data-original="images/venue/venue-5.jpg" alt=""> -->
  </div>
  <div class="fl w-50 w-50-l pl2 pr2-l">
    <div class="location-photo mb3 cover" data-original="images/background/bg-5.jpg"></div>
    <!-- <img class="location-photo mb3" width="100%" data-original="images/venue/venue-2.jpg" alt=""> -->
  </div>
  <div class="cf">
    <div class="fl w-100 w-25-l pl2-l">
      <div class="location-photo mb3 cover" data-original="images/background/bg-6.jpg"></div>
      <!-- <img class="location-photo object-fit" width="100%" data-original="images/venue/venue-3.jpg" alt=""> -->
    </div>
    <div class="fl w-100 w-25-l pl2-l">
      <div class="location-photo mb3 cover" data-original="images/background/bg-7.jpg"></div>
      <!-- <img class="location-photo object-fit" width="100%" data-original="images/venue/venue-3.jpg" alt=""> -->
    </div>
  </div>
  <div class="fl w-50 w-50-l pl2 pr2-l">
    <div class="location-photo mb3 cover" data-original="images/background/bg-9.jpg"></div>
    <!-- <img class="location-photo mb3" width="100%" data-original="images/venue/venue-2.jpg" alt=""> -->
  </div>
  <div class="cf">
    <div class="fl w-100 w-25-l pl2-l">
      <div class="location-photo mb3 cover" data-original="images/background/bg-8.jpg"></div>
      <!-- <img class="location-photo object-fit" width="100%" data-original="images/venue/venue-3.jpg" alt=""> -->
    </div>
    <div class="fl w-100 w-25-l pl2-l">
      <div class="location-photo mb3 cover" data-original="images/background/bg-10.jpg"></div>
      <!-- <img class="location-photo object-fit" width="100%" data-original="images/venue/venue-3.jpg" alt=""> -->
    </div>
  </div>
  <div class="fl w-50 w-50-l pl2 pr2-l">
    <div class="location-photo mb3 cover" data-original="images/background/bg-11.jpg"></div>
    <!-- <img class="location-photo mb3" width="100%" data-original="images/venue/venue-2.jpg" alt=""> -->
  </div>
  <div class="fl w-50 w-50-l pl2 pr2-l">
    <div class="location-photo mb3 cover" data-original="images/background/bg-15.jpg"></div>
    <!-- <img class="location-photo mb3" width="100%" data-original="images/venue/venue-2.jpg" alt=""> -->
  </div>
  <div class="fl w-50 w-50-l pl2 pr2-l">
    <div class="location-photo mb3 cover" data-original="images/background/bg-16.jpg"></div>
    <!-- <img class="location-photo mb3" width="100%" data-original="images/venue/venue-2.jpg" alt=""> -->
  </div>
  <div class="fl w-50 w-50-l pl2 pr2-l">
    <div class="location-photo mb3 cover" data-original="images/background/bg-18.jpg"></div>
    <!-- <img class="location-photo mb3" width="100%" data-original="images/venue/venue-2.jpg" alt=""> -->
  </div>
  <div class="cf">
    <div class="fl w-100 w-25-l pl2-l">
      <div class="location-photo mb3 cover" data-original="images/background/bg-21.jpg"></div>
      <!-- <img class="location-photo object-fit" width="100%" data-original="images/venue/venue-3.jpg" alt=""> -->
    </div>
    <div class="fl w-100 w-25-l pl2-l">
      <div class="location-photo mb3 cover" data-original="images/background/bg-12.jpg"></div>
      <!-- <img class="location-photo object-fit" width="100%" data-original="images/venue/venue-3.jpg" alt=""> -->
    </div>
    <div class="fl w-100 w-25-l pl2-l">
      <div class="location-photo mb3 cover" data-original="images/background/bg-20.jpg"></div>
      <!-- <img class="location-photo object-fit" width="100%" data-original="images/venue/venue-3.jpg" alt=""> -->
    </div>
    <div class="fl w-100 w-25-l pl2-l">
      <div class="location-photo mb3 cover" data-original="images/background/bg-17.jpg"></div>
      <!-- <img class="location-photo object-fit" width="100%" data-original="images/venue/venue-3.jpg" alt=""> -->
    </div>
  </div>
</section>

