<section class="vh-80 bg-goruco-purple flex items-end hero overflow-y-hidden ph4 ph5-l">
  <%= partial 'partials/scattered-rubies.svg' %>
  <div class="mw-100">
    <div class="w-100 mw8-l dib pt3 pb2 pb2-l">
      <h1 class="white f2 f1-ns ma0 bt bw2 b--white dib pt3" style="max-width: 839px;">GORUCO is a one day, single track, polyglot conference in New York City</h1>
      <h2 class="white fw5">Saturday, June 24th 2017</h2>
    </div>
    <div class="flex-l items-center pb4">
      <%= partial('partials/buy-tickets-button', :locals => { :styles => 'db mb3 mb0-l mr3-l w-25-l'} ) %>
      <a class="f5 fw6 pointer link db dim ph3 pv2 ba bw1 b--white bg-transparent tc white" target="_blank" href="sponsor-prospectus-2017.pdf">Sponsor Prospectus</a>
    </div>
    <%= partial 'partials/header' %>
  </div>
</section>
