<section class="pa4 pa4-m pa5-l" id="organizers">
  <div class="mb4">
    <h3 class="f4 f2-ns ma0 bt bw2 b--black pt3 dib">Organizers</h3>
  </div>
  <div class="flex flex-wrap">
    <% data.organizers.organizers.each do |organizer| %>
      <%= partial('partials/components/organizer', :locals => { :name => organizer.name, :photo => organizer.photo, :handle => organizer.handle }) %>
    <% end %>
  </div>
</section>