<section class="overlay-menu fixed top-0 left-0 right-0 bottom-0 w-100 h-100 flex items-center justify-center">
  <ul class="list pl0">
    <!-- <li class="mb3"><a data-scroll href="#schedule" class="link dim f2 fw5 white ">Schedule</a></li> -->
    <li class="mb3"><a data-scroll href="#location" class="link dim f2 fw5 white ">Location</a></li>
    <li class="mb3"><a data-scroll href="#speakers" class="link dim f2 fw5 white ">Speakers</a></li>
    <!-- <li class="mb3"><a data-scroll href="#sponsors" class="link dim f2 fw5 white ">Sponsors</a></li> -->
    <li class="mb3"><a data-scroll href="#organizers" class="link dim f2 fw5 white ">Organizers</a></li>
    <%= partial('partials/buy-tickets-button', :locals => { :styles => 'db mt4'} ) %>
  </ul>
</section>
