<section class="ph4 ph4-m pt4 pt5-l ph5-l relative" id="schedule">
  <div class="mb5">
    <h3 class="f3 f2-ns ma0 bt bw2 b--black pt3 dib">Schedule</h3>
  </div>

  <div class="morning-sessions relative">
    <% data.schedule.morning_schedule.each do |event| %>
    <%= partial('partials/components/event', :locals => { :timeslot => event.timeslot, :title => event.title, :description => event.description }) %>
    <% end %>
  </div>

  <div class="w-100 w-50-l center pb4 lunch relative tc-l pt4-l pb5-l">
    <div class="bg-white dib-l ph5-l ba-l bw2-l b--black pv3-l bg-lunch relative">
      <div class="z-2">
        <h4 class="f3 mt0 mb2">Lunch</h4>
        <p class="f4 ma0">Dig Inn</p>
      </div>
    </div>
  </div>
  
  <div class="afternoon-sessions relative">
    <% data.schedule.afternoon_schedule.each do |event| %>
    <%= partial('partials/components/event-afternoon', :locals => { :timeslot => event.timeslot, :title => event.title, :description => event.description }) %>
    <% end %>
  </div>

  </div>
</section>