<section class="pa3 pa5-l" id="scholarship">
  <div class="mb3">
    <h3 class="f4 f2-ns ma0 bt bw2 b--black pt3 dib">Scholarship Program</h3>
    <div class="mt3">
      <div class="flex-l">
        <div class="w-100 w-40-l">
          <p class="f4 ma0 measure-wide mb3 lh-copy">GORUCO’s diversity schol­ar­ship program aims to support traditionally underrepresented and marginalized people in the Ruby and greater tech communities who may not otherwise have the opportunity to attend the conference for financial reasons.</p>
          <p class="f4 ma0 measure-wide lh-copy">Equal access and di­ver­sity are im­por­tant to us, and we aim to remove this ob­sta­cle for un­der­rep­re­sented attendees. We want you at the conference, and we want to help you get there.</p>
          <div class="mt3">
            <a class="f5 link dim ba bw1 ph3 pv2 mb2 bg-dark-pink b--dark-pink white fw6 mr2 dib" href="https://goruco.wufoo.com/forms/z15d2ybp0q0gr01/" target="_blank">Apply Here Today</a>
          </div>
        </div>
        <div class="w-100 w-50-l pl4-l flex-l mt4 mt0-l">
          <div class="flex-l flex-column mr5-ns">
            <div class="mb3">
              <h3 class="mt0 mb3">Award</h3>
              <p class="measure-wide measure-l lh-copy mv0">Scholarship recipients will receive a <span class="fw6">GORUCO 2017 ticket free of charge</span>. Travel assistance is not included.</p>
            </div>
            <div>
              <h3 class="mt0 mb3">Eligibility</h3>
              <p class="measure-wide measure-l lh-copy mv0">To be eligible for a GORUCO Scholarship, you must be a full or part-time student; or a person identifying as a woman, person of color, LGBT or person with disabilities; or a member/alumni of recognized minority-focused STEM organizations; and be unable to attend without some financial assistance.</p>
            </div>
          </div>
          <div>
            <h3 class="mt0 mb2">Applying</h3>
            <p class="measure-wide measure-l lh-copy mt0 mb2">Please submit your scholarship application by <span class="fw6">Saturday, May 20 at 10:00am EDT</span>.</p>
            <p class="measure-wide measure-l lh-copy mt0 mb2">Applications are reviewed by a subset of GORUCO's organizers and schol­ar­ships are awarded based on a com­bi­na­tion of need and impact.</p>
            <p class="measure-wide measure-l lh-copy mv0">All applicants will be notified of their application's status by <span class="fw6">Friday, May 26.</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
