<section class="pa4 pa4-m pa5-l relative overflow-hidden bg-scattered-rubies-dark" id="sponsors">
  <div class="mb4">
    <h3 class="f4 f2-ns ma0 bt bw2 b--black pt3 dib">Sponsors</h3>
  </div>
  <div class="mw8-l center tc">
    <div class="mb4">
      <h4 class="f3 mt0 mb3 fw5">Platinum</h4>
      <div class="w-100 pa2">
        <figure class="ma0">
          <div class="aspect-ratio aspect-ratio--16x9">
            <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
          </div>
        </figure>
      </div>
    </div>
    <div class="mb4">
      <h4 class="f3 mt0 mb3 fw5">Gold</h4>
      <div class="flex flex-wrap nl2">
        <div class="w-100 w-50-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-100 w-50-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-100 w-50-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
      </div>
    </div>
    <div class="mb4">
      <h4 class="f3 mt0 mb3 fw5">Silver</h4>
      <div class="flex flex-wrap">
        <div class="w-50 w-third-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-50 w-third-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-50 w-third-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-50 w-third-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-50 w-third-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-50 w-third-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
      </div>
    </div>
    <div class="mb4">
      <h4 class="f3 mt0 mb3 fw5">Bronze</h4>
      <div class="flex flex-wrap">
        <div class="w-50 w-25-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-50 w-25-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-50 w-25-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-50 w-25-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-50 w-25-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-50 w-25-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-50 w-25-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
        <div class="w-50 w-25-l pa2">
          <figure class="ma0">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover" style="background:url(http://placehold.it/1000x400?text=Sponsor) center;"></div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
